<launch>
    <!-- 运行地图服务器，并且加载设置的地图-->
    <include file="$(find maxbot_sim)/launch/maxbot_sim_map_server.launch" />
    <!-- 启动AMCL节点 -->
    <include file="$(find maxbot_sim)/launch/maxbot_sim_amcl.launch" />
    <!-- 运行rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find maxbot_sim)/config/display_maxbot_amcl_posearray.rviz" />
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" />
</launch>